{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="https://gruposcout5kenya.com/img/logos/Logo Grupo V Kenya-04.png" type="image/x-icon">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">

        {% block meta %}{% endblock meta %}

        {% block favicon %}{% endblock favicon %}

        {% block head %}{% endblock head %}

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <style>
        .bgbody {
            background: url("https://gruposcout5kenya.com/img/background/iconos-12.png") repeat-y fixed;
            overflow: overlay;
            background-color: #edf0f5;
            min-height: 100vh;
            background-size: cover;
            background-position-x: center;
        }
        
        .max-vh {
            min-height: 100vh;
        }
    </style>

    <body class="bgbody">
        {% block header %}
            {% include 'partials/navBar.html' %}
        {% endblock header %}
        
        <section class="max-vh">
            {% block content %}{% endblock content %}
        </section>

        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </body>

</html>