body {
    background: url("https://gruposcout5kenya.com/img/background/iconos-12.png") repeat-y fixed;
    overflow: overlay;
    background-color: #edf0f5;
    min-height: 100vh;
    background-size: cover;
    background-position-x: center;
}

.max-vh {
    min-height: 100vh;
}