<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://gruposcout5kenya.com/img/logos/Logo%20Grupo%20V%20Kenya-16.png" alt="Logo"
                class="d-inline-block align-text-top img-fluid" width="240px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 ms-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link nav-link active" href="/" aria-current="page">
                        <i class="bi bi-tree"></i>
                        <span>Inicio</span>
                    </a>
                </li>

                <li class="nav-item mx-4">
                    <a class="nav-link nav-link active" href="/" aria-current="page">
                        <i class="bi bi-person-exclamation"></i>
                        <span>¿Quiénes somos?</span>
                    </a>
                </li>

                <li class="nav-item mx-4">
                    <a class="nav-link nav-link active" href="/" aria-current="page">
                        <i class="bi bi-envelope-heart"></i>
                        <span>Contáctanos</span>
                    </a>
                </li>

                <li class="nav-item mx-4">
                    <a class="nav-link nav-link active" href="/" aria-current="page">
                        <i class="bi bi-newspaper"></i>
                        <span>Noticias</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="d-grid gap-2 col-3 mx-auto">
            {% if user.is_authenticated and user.is_superuser%}
            <a href="{% url 'admin:index' %}" type="button" class="btn btn-outline-success mx-lg-5">Administrador</a>
            {% else %}
            <a href="{% url 'admin:index' %}" type="button" class="btn btn-outline-success mx-lg-5">Ingresar</a>
            {% endif %}
        </div>
    </div>
</nav>